{% extends "base.html" %}

{% block head %}
    <title>500 服务器错误 - 群星议会</title>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/errors.css') }}">
{% endblock %}

{% block content %}
    <div class="error-container">
        <div class="error-code">500</div>
        <h1 class="error-message">服务器错误</h1>
        <p class="error-description">
            服务器遇到了一个内部错误，无法完成您的请求。请稍后再试，或联系WTX。
        </p>
        <a href="/" class="btn-home">返回首页</a>
    </div>
{% endblock %}