name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # 安装项目依赖，确保 Pylint 能找到第三方库
        pip install -r requirements.txt || echo "No requirements.txt, continuing..."
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        # 使用 .pylintrc 配置文件
        pylint --py-version=${{ matrix.python-version }} --rcfile=.pylintrc $(git ls-files '*.py')
